@use 'src/styles/utils' as *;

//Ya hay una clase main
.mainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.mainDiv__img {
    width: 20%;
    height: 20%;
    align-self: center;
}

.mainDiv__text {
    width: 60%;
    text-align: center;
}

.text__content {
    font-family: $raleway;
    font-size: $size-base;
    color: black;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0.05em;

    @include media(md) {
        font-size: $size-3xl;
    }
}

.mainDiv__cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    justify-content: space-around;
    align-items: center;
    
    @include media(md) {
        flex-direction: row;
        justify-content: space-around;

    }
}

.mainDiv__title {
    margin-bottom: 2rem;
}

.title__content {
    font-size: $size-xl;
    color: $color-primary;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
}