@use 'src/styles/utils' as *;

.detail {
    margin: 70px 20px 10px 25px;
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-areas:"img first"
                        "second second"
                        "third third"
                        "fourth fourth"
                        "fifth fifth";
    @include media(md) {
        margin: 162px 94px 33px;
        border-radius: 9px;
        grid-template-rows: repeat(1fr, auto);
        grid-template-areas: 
                            "img first"
                            "img second"
                            "img third"
                            "img fourth"
                            "fifth fifth";
    }

    &--primary {
        @include media(md) {
            background-color: $color-primary;
        }
    }
    
    &--secondary {
        @include media(md) {
            background-color: $color-secondary;
        }
    }

    &--colorCard {
        @include media(md) {
            background-color: $color-card;
        }
    }

    &__img {
        grid-area: img;
        max-width: 175px;
        margin-top: 5px;
        @include media(md) {
            margin-left: 10px;
        }

        img {
            max-width: 100%;
            
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        &--first {
            grid-area: first;
            margin-left: 8px;
            margin-right: 8px;
            @include media(md) {
                margin-top: 40px;
            }
        }

        &--second {
            grid-area: second ;
            @include media(md) {
                margin-left: 8px;
                margin-right: 8px;
            }
        }

        &--third {
            grid-area: third;
            @include media(md) {
                margin-left: 8px;
                margin-right: 8px;
            }
        }

        &--fourth {
            grid-area: fourth;
            margin-top: 15px;
            @include media(md) {
                margin-left: 8px;
                margin-right: 8px;
                
            }
        }

        &--fifth {
            grid-area: fifth;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            @include media(md) {
                background-color: $color-bg;
                justify-content: flex-end;
            }
        }

        &-title {
            font-size: $size-base;
            font-weight: 700;
            letter-spacing: 0.05em;
            @include media(md) {
                font-size: 18px;
            }
            
            &--primary {
                color: $color-primary;
                @include media(md) {
                    color: $color-bg;
                }
            }

            &--secondary { 
                color: $color-secondary;
                @include media(md) {
                    color: $color-bg;
                }
            }
        }

        &-text {
            font-size: $size-sm;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: $color-text;
            margin-top: 10px;
            @include media(md) {
                font-size: 20px;
                line-height: 150%;
                font-weight: 400;
                color: $color-bg;
            }
        }

        &-item {
            display: flex;
            margin-top: 10px;

            h3 {
                align-self: flex-start;
                font-size: $size-sm;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0.05em;
                font-weight: 700;
                margin-left: 5px;
                @include media(md) {
                    color: $color-bg;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.05em;
                }
            }

            p {
                font-size: $size-sm;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: $color-text;
                align-self: stretch;
                margin-left: 5px;
                margin-right: 10px;
                @include media(md) {
                    color: $color-bg;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }

        &-button {
            font-size: 14px;
            font-family: Raleway;
            font-weight: 700;
            line-height: 22px;
            background: $color-bg;
            color: $color-secondary;
            padding: 6px 12px;
            border: 2px solid $color-secondary;
            border-radius: 7px;
            background-color: transparent;
            @include media (md){
                margin-top: 40px;
                height: 50px;
                width: 213px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
            }
        }

        &-img{
            @include media(md) {
                display: none;
            }
        }

    }
}

.icon--mobile {
    align-self: flex-start;
    margin-top: 4px;
    @include media(md) {
        display: none;
    }
}

.icon--desktop {
    display: none;
    @include media(md) {
        align-self: flex-start;
        display: inline;
    }
}