@use 'src/styles/utils' as *;

.detail {
    margin: 20px 20px 10px 20px;
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-areas:"img first"
                        "second second"
                        "third third"
                        "fourth fourth"
                        "fifth fifth";
    
    &__img {
        grid-area: img;
        max-width: 190px;
        img {
            max-width: 100%;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        &-title--primary {
            font-size: $size-base;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: $color-primary;
        }

        &-title--secondary {
            font-size: $size-base;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: $color-secondary;
        }

        &-text {
            font-size: $size-sm;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: $color-text;
            margin-top: 10px;
        }

        &-item {
            display: flex;
            margin-top: 10px;
            img {
                align-self: flex-start;
                margin-top: 4px;
            }

            h3 {
                align-self: flex-start;
                font-size: $size-sm;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0.05em;
                font-weight: 700;
                margin-left: 5px;
            }

            p {
                font-size: $size-sm;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0.05em;
                color: $color-text;
                align-self: stretch;
                margin-left: 5px;
                margin-right: 10px;
            }
        }

        &-button {
            font-size: 16px;
            background: $color-bg;
            color: $color-secondary;
            padding: 6px 12px;
            border: 2px solid $color-secondary;
            align-self: center;
            border-radius: 7px;
        }

        &-img {

        }
    }
}

.first {
    grid-area: first;
    margin-left: 8px;
    margin-right: 8px;
}

.second {
    grid-area: second ;
}

.third {
    grid-area: third;
}

.fourth {
    grid-area: fourth;
    margin-top: 15px;
}

.fifth {
    grid-area: fifth;
    flex-direction: row;
    justify-content: space-between;
}