@use 'src/styles/utils' as *;

// boton azul para navbar y header

.primary {
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;
  font-size: $size-sm;
  letter-spacing: 0.05em;
  color: $color-bg;
  background: $color-primary;
  border-radius: 7.23005px;
  padding: 7.23005px 14.4601px;
}

@include media(md) {
  .primary {
    font-size: $font-size-buttom;
    width: 184px;
    height: 60px;
    border-radius: $rounded;
    padding: 5px 16px;
  }

  .primary:hover {
    box-shadow: $shadow;
  }
}

// boton blanco sin box shadow

.secondary {
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;
  font-size: $size-sm;
  letter-spacing: 0.05em;
  background: $color-bg;
  color: $color-secondary;
  height: 36.15px;
  width: 154px;
  padding: 7px 14px 7px 14px;
  border-radius: 7.23005px;
}

@include media(md) {
  .secondary {
    font-size: $font-size-buttom;
    width: 223px;
    height: 50px;
    padding: 9px 18px 9px 18px;
    border-radius: $rounded;
  }
}

//boton blanco con bordes y $rounded (10px) -
// No lo encontré en version mobile

.light {
  font-family: $raleway;
  font-style: normal;
  font-size: $font-size-buttom;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.05em;
  background: $color-bg;
  color: $color-secondary;
  height: 50px;
  width: 213px;
  border-radius: $rounded;
  padding: 10px 20px 10px 20px;
  box-shadow: $shadow-lg;
}

.light:hover {
  box-shadow: $shadow-lg;
}

//boton blanco con bordes y $rounded-lg (20px)
// No lo encontré en version mobile
// No lo volvi a encontrar en figma asi que creo que dejo de existir

.light-lg {
  font-family: $raleway;
  font-style: normal;
  font-size: $font-size-buttom;
  font-weight: 700;
  background: $color-bg;
  color: $color-secondary;
  height: 50px;
  width: 223px;
  border-radius: $rounded-lg;
  padding: 10px 20px 10px 20px;
  box-shadow: $shadow-lg;
}

//boton con fondo blanco con bordes azules

.blueborder {
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;
  font-size: $base-size;
  letter-spacing: 0.05em;
  background: $color-bg;
  color: $color-primary;
  width: 191.98px;
  height: 36.49px;
  padding: 6.2449px 12.4898px;
  border-radius: 7.83673px;
  border: 2px solid $color-primary;
  box-sizing: border-box;
}

@include media(md) {
  .blueborder {
    font-size: $font-size-buttom;
    width: 245px;
    height: 50px;
    padding: 10px 20px;
    border-radius: $rounded;
  }
}

//boton fondo blanco con bordes verdes

.greenborder {
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  background: $color-bg;
  color: $color-secondary;
  width: 191.98px;
  height: 36.49px;
  padding: 6.2449px 12.4898px;
  border-radius: 7.83673px;
  border: 2px solid $color-secondary;
  box-sizing: border-box;
}

@include media(md) {
  .greenborder {
    font-size: $font-size-buttom;
    width: 245px;
    height: 50px;
    padding: 10px 20px;
    border-radius: $rounded;
  }
}
