@use 'src/styles/utils' as *;

.button {
  font-family: $raleway;
  font-style: normal;
  font-weight: bold;    
  min-height: auto;
  width: auto;
  letter-spacing: 0.05em;

  @include media(md){
    font-size: $font-size-buttom;
  }
}

// Botón azul para navbar y header    
.button-primary {
  font-size: $size-sm;
  color: $color-bg;
  background: $color-primary;
  border-radius: $rounded-mobile;
  padding: 7px 14px;

  @include media(md) {
    min-height: 60px;
    border-radius: $rounded;
    padding: 5px 16px; }

    &:hover {
      box-shadow: $shadow;
    } 
}

// Botón blanco sin box shadow
.button-secondary {
  
  font-size: $size-sm;
  background: $color-bg;
  color: $color-secondary;
  padding: 7px 14px 7px 14px;
  border-radius: $rounded-mobile;


@include media(md) {
  padding: 9px 18px 9px 18px;
  border-radius: $rounded;
} }

//Botón blanco con bordes y $rounded (10px) -
// No lo encontré en version mobile
.button-light {
    font-size: $font-size-buttom;
    font-weight: 700;
    line-height: 30px;
    background: $color-bg;
    color: $color-secondary;
    border-radius: $rounded;
    padding: 10px 20px 10px 20px;
    box-shadow: $shadow-lg;
  

  &:hover {
    box-shadow: $shadow-lg;
  } 
}

//Boton blanco con bordes y $rounded-lg (20px)
//No lo encontré en version mobile
//No lo volvi a encontrar en figma asi que creo que dejo de existir
.button-light-lg {
  font-size: $font-size-buttom;
  font-weight: 700;
  background: $color-bg;
  color: $color-secondary;
  border-radius: $rounded-lg;
  padding: 10px 20px 10px 20px;
  box-shadow: $shadow-lg;
}

//Botón con fondo blanco con bordes azules
.button-blueborder {
  font-size: $base-size;
  background: $color-bg;
  color: $color-primary;
  padding: 6px 12px;
  border-radius: $rounded-mobile;
  border: 2px solid $color-primary;
  box-sizing: border-box;

  @include media(md) {
    padding: 10px 20px;
    border-radius: $rounded;
  }
}

//boton fondo blanco con bordes verdes

.button-greenborder {
  font-size: 16px;
  background: $color-bg;
  color: $color-secondary;
  padding: 6px 12px;
  border-radius: $rounded-mobile;
  border: 2px solid $color-secondary;
  box-sizing: border-box;


@include media(md) {
  padding: 10px 20px;
  border-radius: $rounded;
}
}