@use 'utils' as *;

*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid $color-bg;
}

:root {
  font-size: 16px;
}

html {
  tab-size: 4;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  line-height: $base-leading;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: inherit;
  font-family: $raleway;
  background: $color-bg;
  color: $color-secondary;
  -webkit-tap-highlight-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  line-height: 1.15;
  font-family: inherit;
}

button,
select {
  text-transform: none;
}

[type=button],
button {
  -webkit-appearance: button;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  border-style: solid;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  color: inherit;
  line-height: inherit;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}