@use 'src/styles/utils' as *;

.card {
    box-shadow: $shadow;
    height: 294px;
    width: 496px;
    font-size: 20px;
    padding: 26px;
    display: grid;
    place-content: center;
    color: $color-text;
    border-radius: $rounded-mobile;
    -webkit-border-radius: $rounded-mobile;
    -moz-border-radius: $rounded-mobile;
    -ms-border-radius: $rounded-mobile;
    -o-border-radius: $rounded-mobile;
    
    &__title {
        font-weight: 700;
    }

    &__wsp {
        display: flex;
        align-items: center;
        p {
            margin-left: 5px;
        }
        img {
            height: 18px;
            width: 18px;
        }
    }

    &__title, &__address, &__email, &__wsp {
        margin: 8px;
    }
}