@use 'src/styles/utils' as *;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");

.card {
  margin-bottom: 1rem;
  &--transparent {
    /* primario */
    border: 3px solid $color-primary;
    box-sizing: border-box;

    /* Shadow 2 */
    filter: drop-shadow($shadow-lg);
    border-radius: $rounded;
  }
  &--color {
    /* primario */
    background: $color-primary;

    /* primario */
    border: 3px solid #4f84f9;
    box-sizing: border-box;

    /* Shadow 2 */
    box-shadow: $shadow-lg;
    border-radius: $rounded;
  }

  &__container {
    display: flex;
    width: 340px;
    height: 321px;
  
    @include media(md) {
      width: 455px;
      height: 644px;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  }
}

.vector {
  height: 10%;
  width: 10%;
  margin-top: 5rem;
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(md) {
    margin-bottom: 0.1rem; 
  }

  &--transparent {
    margin-bottom: 3rem;
  }

  &__element {
    position: absolute;
  }

  &__heart {
    position: absolute;
    margin-top: 0.3rem;
  }
}


.title {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;

  &--transparent {
    color: $color-primary;
  }
  &--color {
    color: $color-bg;
  }

  &__text {
    font-family: $raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    font-size: $base-size !important;
  
    @include media(md) {
      font-size: $size-3xl !important;
    }
    /* or 42px */
    text-align: center;
    letter-spacing: 0.05em;
  }
}


.body {
  padding-left: 2rem;
  padding-right: 2rem;

  &--transparent {
    /* secundario */
    color: $color-secondary;
  }

  &--color {
    color: $color-bg;
  }

  &__text {
    font-family: $raleway;
    font-style: normal;
    font-weight: normal;
    font-size: $size-sm;
    line-height: 150%;
  
    /* or 30px */
    text-align: center;
    letter-spacing: 0.05em;
    
    @include media(md) {
      font-size: $size-lg;
    }
  }
}


