@use 'src/styles/utils' as *;

.navbar {
    background: $color-bg;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left:0;
    
    top:0;
    @include media(md) {
        display: grid;
        
        grid-template-columns: 1fr 5fr 1fr;
        height: 100px;
    }
}

.logo {
    max-width: 100px;
    width: 50%;
    @include media(md) {
        width: 100%;
    }
}

.logo-container {
    @include media(md) {
        margin-left: 16px;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.hidden {
    @include media(md) {
        display: none;
    }
}

.nav-options {
    background: $color-bg;
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100%;
    top: 0px;
    opacity: 0;
    transition: all 0.5s ease;
    list-style-type: none;
    @include media(md) {
        display: grid;
        grid-template-columns: repeat(2, auto);
        opacity: 1;
        height: 100px;
        position: static;
        left: 0;
        justify-content: center;
        align-items: center;
    }
}

.nav-options.active {
    left: 0;
    top: 0px;
    opacity: 1;
    z-index: 1;    
}

.nav-options ul {
    margin-top: 60px;
    @include media(md) {
        display: flex;
        margin-top: 0;
    }
}

.mobile-menu {
    padding-left: 20px;
    @include media(md) {
        display: none;
    }

}

.mobile-search {
    padding-right: 20px;
    @include media(md) {
        display: none;
    }
}

.option {
    display: flex;
    margin: 17px;
    align-items: center;
}

.option a {
    font-size: $size-md;
    text-decoration:none;
    color: $color-secondary;
    padding-left: 5px;
}

.button {
    display: none;
    
    @include media(md) {
        display: inline;
        background-color: $color-primary;
        border-radius: 10px;
        width: 185px;
        height: 60px;
        justify-content: center;
        align-content: center;
        margin-left: 0;
        margin-right: 16px;
        .option-link {
            color: $color-bg;
        }
    }
}

.option-link {
    font-size: $size-md;
    color: $color-secondary;

} 

.icon-close {
    position: relative;
    z-index: 2;
    width: 16px;
}