@use 'src/styles/utils' as *;

.gallery {
    padding-top: 50px;
    
    &__title {
        font-size: $size-xl;
        font-weight: 700;
        color: $color-secondary;
        letter-spacing: 0.05em;
        text-align: center;
    }   

    &__grid {
        display: flex;
        align-items: center;
        overflow: auto;
        scroll-snap-type: x proximity;

        .gallery__center {
            display: none;
        }

        .img--square{
            max-width: 400px;
            width: 40%;
            height: auto;
        }

        img {
            margin: $size-base 5px;
        }
    }

    @include media(md) {
        display: grid;
        place-content: center;
        padding-top: 100px;

        &__title {
            font-size: $size-4xl;
            margin: $size-base;
            letter-spacing: 0.05em;
        }
        
        &__grid {
            max-width: 1200px;
            min-height: 600px;
            display: grid;
            grid-gap: 10px;
            grid-template-areas: "top1 top2 top3"
                                "center center center"
                                "btm1 btm2 btm3";

            .gallery__center {
                display: block;
                grid-area: center;
            }

            img[grid-area="top1"] {
                grid-area: top1;
            }
            img[grid-area="top2"] {
                grid-area: top2;
            }
            img[grid-area="top3"] {
                grid-area: top3;
            }
            img[grid-area="btm1"] {
                grid-area: btm1;
            }
            img[grid-area="btm2"] {
                grid-area: btm2;
            }
            img[grid-area="btm3"] {
                grid-area: btm3;
            }

            .img--square{
                width: 100%;
                height: auto;
            }

            img {
                margin: 0;
                filter: brightness(50%);
            }
        }

        img:hover {
            animation: darken .5s ease-in-out .1s;
            animation-fill-mode: forwards;  
        }

        @keyframes darken {
            from {filter: brightness(50%);}
            to {filter: brightness(100%);}
        }
    }
}