@use "src/styles/utils" as *;

.footer {
  font-family: $raleway;
  font-size: $size-lg;
  background-color: $color-secondary;
  color: $color-bg;
  margin-top: 10px;
  height: 132px;
  width: auto;
  padding: 16px 18px;
  display: grid;
  grid-template-columns: 30% 30% 39%;

  @include media(md) {
    height: 419px;
    width: auto;
    padding: 74px 126px;
  }
  
  
  &__logo {
    display: flex;
    flex-direction: center;
    justify-content: center;
  


  &-img {
    width: 100px;
    height: 100px;

    @include media(md) {
      width: 270px;
      height: 270px;
    }
  } } 

  
  

  // &__section {
  //   // 
  // }
    

  ul {
    padding-top: 29px;
    list-style: none;
    // display:none;
      @include media(md) {
        visibility: visible;
      }
  }
  
  li {
    font-weight: 700;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  } 

  


  &__socialmedia {
    padding-top: 40px;
  }

}


