@use 'src/styles/utils' as *;

#sucursales {
  background-color: $color-bg;
  height: 100%;
  width: 100%;
  background: url("../../assets/sucursalesBackground.jpg") no-repeat;
  background-position: 0% 10%;
  background-size: 100% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(md) {
    background-position: top;
    background-size: 100% 40%;
  }

  @include media(lg){
    background-size: 100% 40%;
  }


  &__cards {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    @include media(lg) {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__title {
    font-family: $raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    margin-top: 1rem;
    font-size: $base-size;
    color: $color-primary;

    @include media(md) {
      font-size: $size-5xl;
      color: $color-secondary;
    }
  }

  -webkit-animation: focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
